.Super{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Button{
    background-color: beige;
}

.Message{
    color : bisque;
}